<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haedream">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 선언-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaeDream"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Join"/>
        <activity android:name=".JoinActivity"/>

        <activity
            android:name=".HelpCall"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SimhelpList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SimAccept" />
        <activity android:name=".SimAcceptActivity" />
        <activity android:name=".MySimCall" />
        <activity android:name=".MySimCallActivity" />
        <activity android:name=".MySimAccept" />
        <activity android:name=".MySimAcceptCancelActivity" />
        <activity android:name=".Intro_List" />
        <activity android:name=".MySimList" />
        <activity android:name=".MySimAcceptFinishActivity" />
        <activity android:name=".ChangeInfo" />
        <activity android:name=".ChangeInfoActivity" />
        <activity
            android:name=".MainSCR"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpCallActivity" />
        <activity android:name=".Setting" />
        <activity android:name=".MyPage" />
        <activity android:name=".IntroInfo"/>
        <activity android:name=".ChatActivity"/>
        <activity android:name=".ProfileChange" />
        <activity android:name=".ProfileChangeActivity" />
        <activity android:name=".SimCheck" />
        <activity android:name=".CheckPWChange" />
        <activity android:name=".ChangePW" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>

</manifest>